.btn{
    border: none;
    padding: 1em;
    border-radius: 0.5rem;
    height: 40px;
    color: rgb(255, 211, 105);
    color: rgb(57, 62, 70);
    background-color: rgb(255, 211, 105);
    border: 1px solid;
}
.btn:hover{
    cursor: pointer;
}

    
