.maxWitdh{
    max-width: 1200px;
    margin: auto;
}
.title{
    font-size: 3em;
    font-weight: 100;
    color: rgb(34, 40, 49);
}
.containerCountries{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em;
    min-height: 340px;
    min-width: 340px;
    margin-bottom: 1em;
}
.containerCountries>div{
    /* width: 20%;
    height: 50%; */
    width: 45%;
}
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }