.maxWitdh{
    max-width: 1920px;
    margin: auto;
}
.title{
    font-size: 3em;
    font-weight: 100;
    color: rgb(34, 40, 49);
}
.containerCountries{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .5em;
    min-height: 340px;
}
.containerCountries>div{
    width: 20%;
    height: 50%;
}
