.description{
    font-size: 100px;
    color: rgba(255, 211, 105,.5);
}
.start{
    font-size: 47px;
    padding: 10px 40px;
    background-color: rgba(255, 211, 105,1);
    color: #222831;
    border: none;
    border-radius: 100px;
}
.start:hover{
    cursor: pointer; 
    transition: all 500ms;
    background-color: #393E46;
    color: rgba(255, 211, 105,1);
    box-shadow: 0px 2px 2px 0px rgba(255, 211, 105,1);
}
.background{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: rgba(57, 62, 70,.4);
}
