.title{
    color: #FFD369; 
    font-size: 2em;
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}
.header{
    margin: 0;
    padding: 0.5em 0px;
    background-color: #222831;
    box-shadow: 0px 1px 8px #ffd369;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header>div{
    width: 30%;
}
.btnRight {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.textLeft{
    text-align: left;
}
.imgFilter{
    margin-left: 1em;
    width: 2.4em;
    background-color: #ffd369;
    border-radius: 0.5em;
    padding: 6px;
}
.imgFilter:hover{
    cursor: pointer;
}